@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* General Styling Start */
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f1f1f1;
}

.cstm-container {
    min-height: 97vh;
}

.form-field {
    border: 2px solid #d3d3d3 !important;
    background-color: #f7f7f7 !important;
}

input,
select {
    box-shadow: none !important;
}

/* General Styling End */

/* Loader Styling Start */
.loader-container {
    position: absolute;
    background: #f1f1f1;
    width: 100%;
    height: calc(100% - 74px);
    left: 0;
    z-index: 999;
}

/* Loader Styling End */

/* Home Styling Start */
.content-area {
    flex: 1 1;
}

.stationsList {
    box-shadow: 0 0 7px #00000044 !important;
    border-radius: 12px;
}

.single-station {
    cursor: pointer;
}

.single-station:first-of-type {
    border-radius: 12px 12px 0 0;
}

.single-station:last-of-type {
    border-radius: 0 0 12px 12px;
}

.single-station-active {
    background-color: rgb(1, 136, 151);
    color: #fff;
}

.add-route-btn {
    background: #03111B !important;
    border-color: #03111B !important;
}

/* Home Styling End */

/* View Demands Styling Start */
.table-head td {
    background-color: #6c757d54;
}

.table-head td:first-of-type {
    border-radius: 10px 0 0 0;
}

.table-head td:last-of-type {
    border-radius: 0 10px 0 0;
}

.tr-border {
    border-bottom: 1.5px solid #6c757d56;
    cursor: pointer;
}

.select__control.css-13cymwt-control{
    border: 0 !important;
    border-radius: 6px !important;
    background: transparent !important;
    padding: 2px 0 !important;
}

/* View Demands Styling End */